@import 'variables.scss';
@import 'price-card.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141b1c;
  height: 100vh;
  font-family: 'Montserrat';
}

.price-cards {
  display: flex;
  width: 1176px;
  height: 770px;
}
