.price-card {
  width: 380px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-right: 18px;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__header-basic {
    padding: 33px 140px;
  }

  &__header-business {
    padding: 33px 108px;
    position: relative;
    overflow: hidden;
  }

  &__header-webshop {
    height: 133px;
    padding: 33px 102px;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: $base-font-color;
    margin: 0 auto;
  }

  &__title-basic {
    width: 100px;
  }

  &__title-business {
    width: 163px;
  }

  &__title-webshop {
    width: 176px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: $base-font-color;
    text-align: center;
    margin: 0;
    font-weight: 400;
  }

  &__price {
    display: block;
    height: 105px;
    padding: 19px 110px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: $base-font-color;
  }

  &_basic {
    background-color: #5bb189;
  }

  &_business {
    background-color: #3a6ba5;
  }

  &_webshop {
    background-color: #ec632a;
  }

  &__info {
    display: block;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $base-font-color;
    padding: 40px 26px;
    text-align: center;
    margin: 0;
  }

  &__button {
    width: 154px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $base-font-color;
  }

  &_button_green {
    background-color: #5bb189;
    margin: 39px 113px 40px 112px;
  }

  &_button_blue {
    background-color: #3a6ba5;
    margin: 39px 113px 40px 112px;
  }

  &_button_orange {
    background-color: #ec632a;
    margin: 39px 113px 37px 112px;
  }

  &__options-list {
    margin: 0;
    padding-left: 0;
  }

  &__options-list-item {
    list-style-type: none;
    font-weight: 300;
    height: 50px;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px 21px 16px 59px;
    background-repeat: no-repeat;
    background-position: 22px center;
    background-size: 15px 13px;
  }
  &__icon_green {
    display: inline-block;
    background-image: url(images/icon_green.png);
    width: 16px;
    height: 13px;
    margin-top: 18px;
    margin-left: 22px;
    position: absolute;
  }

  &__icon_blue {
    display: inline-block;
    background-image: url(images/icon_blue.png);
    width: 16px;
    height: 13px;
    margin-top: 18px;
    margin-left: 22px;
    position: absolute;
  }

  &__icon_orange {
    display: inline-block;
    background-image: url(images/icon_orange.png);
    width: 16px;
    height: 13px;
    margin-top: 18px;
    margin-left: 22px;
    position: absolute;
  }
}

.options-list-item_gray {
  background-color: #2a3438;
}

.price-card:last-child {
  margin-right: 0;
}

.header-business__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 147px;
  position: absolute;
  background-color: #dc3f45;
  transform: rotate(-45deg);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $base-font-color;
  top: -31px;
  right: 31px;
  text-transform: uppercase;
}

.header-business__text {
  transform: rotate(90deg);
}
